
:root {
    --black: #000000;
    --white: #FFFFFF;
    --gray: #666666;
    --blue: #FA8F23;
    --blueDark: #E67E06;
    --blueLight: #FFF8F3;
    --purple: #FA8F23;
    --purpleDark: #E67E06;
    --purpleLight: #FFF8F3;
    --green: #FA8F23;
    --greenDark: #E67E06;
    --greenLight: #FFF8F3;
    --boxShadow: rgba(250, 143, 35, 0.15);
    --text: var(--black);
}
