:root {
    --black: #101114;
    --white: #FDFDFF;
    --gray: #6B7280;
    --blue: #3751FF;
    --blueDark: #2940CC;
    --blueLight: #E6E9FF;
    --purple: #8B5CF6;
    --purpleDark: #7C3AED;
    --purpleLight: #F3F0FF;
    --green: #7DF1B6;
    --greenDark: #10B981;
    --greenLight: #ECFDF5;
    --boxShadow: rgba(143, 151, 186, 0.24);
    --text: var(--black);
}